{% extends "base.html" %}

{% load i18n %}
{% load bootstrap4 %}

{% block head_title %}FIM Solution Fidoop{% endblock %}

{% block content %}
<section style="background: white;">
    <div class="container">
        <div class="row">
            <div class="col col-12 pb-5">
                <div class="clearfix"></div>
                <h1 class=" " style="margin-top: 15rem;">Web App For Portability and User Friendly</h1>
                <p>The existing parallel mining algorithm for frequent itemsets includes the limitations in terms of more memory usage and <br> excessive run time even for less amount of data. hence FIdoop is the Solution to this problem</p>
            </div>

        </div>
    </div>
</section>
{% endblock %}
